*.pyc
run_apply_sym_wan.sh
find_byte.py
tst
run_at_diag.sh
key
examples/CBCN_mb_plot/
examples/NV_HSE_215_mb_plot/
*.xsf
*~
.ipynb_checkpoints/
examples/FeAlN_GGA_218_ground/const_occ/.ipynb_checkpoints/
theory.tex